// * {
//     border: 1px solid red !important;
// }
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  font-size: 15px;
  @media screen and (min-width: 300px) {
    font-size: 15.5px;
  }
  @media screen and (min-width: 345px) {
    font-size: 19.5px;
  }
  @media screen and (min-width: 450px) {
    font-size: 22px;
  }
  @media screen and (min-width: 550px) {
    font-size: 22.5px;
  }
  @media screen and (min-width: 650px) {
    font-size: 23px;
  }
  @media screen and (min-width: 760px) {
    font-size: 25px;
  }
  @media screen and (min-width: 815px) {
    font-size: 26px;
  }
  @media screen and (min-width: 900px) {
    font-size: 27px;
  }
  @media screen and (min-width: 1050px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1150px) {
    font-size: 30px;
  }
  @media screen and (min-width: 1281px) {
    font-size: 40px;
  }

  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.container .section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-blend-mode: multiply;
  background-attachment: fixed;
}

header {
  position: fixed;
  width: 98%;
  z-index: 100;
}
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.brand-title img {
  width: 40%;
  margin-left: -50%;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  border-radius: 10px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #44ff00;
  padding: 1rem;
}

.navbar-links li a:hover {
  color: white;
}

.toggle-button {
  position: fixed;
  right: 1.3rem;
  top: 1.3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    top: 0.5rem;
    font-size: 1.2rem;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    background-color: rgba(18, 22, 0, 0.459);
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.container .section:nth-child(1) {
  background: center no-repeat url(/assets/brickwall.svg);
  color: #44ff00;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.container .section:nth-child(2) {
  padding-top: 0.5em;
  background: #cfcfea center no-repeat
    url(/assets/black-clover-pub-live-band.jpg);
  color: #cfcfea;
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(3) {
  background: #9792e3 center no-repeat
    url(/assets/black-clover-pub-bigbang-drummer.jpg);
  color: #00c3ff;
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(4) {
  background: rgb(68, 255, 1) center no-repeat
    url(/assets/bar-full-of-liquor-bottles.jpg);
  color: yellow;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

#clovers.content {
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  width: 17rem;
  top: 50%;
  left: 50%;
}

#clovers {
  display: none;
}

#contact {
    position: relative;
    display: flex;
    
}
#contact .contact-text {
    position: absolute;
    color: white;
    width: 50%;
    line-height: 0.8rem;
    font-size: 1rem;
    top: 25%;
    left: 5%;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.68);
    @media screen and (max-width: 700px) {
        width: 90%;
        top: 15%;
    }
}
.contact-text p {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0 1%;
}
img.three-d-clover  {
  position: absolute;
  display: flex;
  width: 15rem;
  
  right: 10%;
  border-radius: 50%;
  @media screen and (min-width: 300px) {
      top: 50%;
      right: 10%;
      width: 14rem;
  }
  @media screen and (min-width: 345px) {
      width: 12rem;
      top: 50%;
      right: 15%;
  }
  @media screen and (min-width: 450px) {
     
     top: 40%;
     right: 20%; 
      
  }
  @media screen and (min-width: 550px) {
     top: 50%;
     right: 30%; 
  }
  @media screen and (min-width: 700px) {
      top: 20%;
      right: 1%;
      width: 14rem;
  }
  @media screen and (min-width: 900px) {
      top: 10%;
      right: 1%;
      width: 14rem;
  }
}
.clover1,
.clover2,
.clover3,
.clover4 {
  position: absolute;
  z-index: 10;
  width: 5.5rem;
  top: 50%;
  left: 50%;
  font-size: clamp(0.5rem, 0.8rem, 1rem);
  line-height: clamp(0.5rem, 0.6rem, 8rem);
}

.clover1-text {
  position: absolute;
  z-index: 10;
  top: 27%;
  left: 12%;
}

.clover2-text {
  position: absolute;
  z-index: 10;
  top: 33%;
  left: 25%;
}

.clover3-text {
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 10%;
}

.clover4-text {
  position: absolute;
  z-index: 10;
  top: 34%;
  left: 7%;
}

span {
  color: white;
}

span.h2 {
  font-size: clamp(0.9rem, 1rem, 1.2rem);
  color: yellow;
}

span.h1 {
  font-size: clamp(1rem, 1.1rem, 1.2rem);
  color: yellow;
}


// .three-d-clover-container {
//     position: absolute;
//     top: 3rem;
//     width: 50%;
//     display: flex;
//     justify-content: flex-end;
//     background-color: green;
// }


// #gallery {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
//     background-color: black;
//  }

// a {
//     position: relative;
//     width: 160px;
//     height: 50px;
//     line-height: 48px;
//     background-color: #000;
//     text-transform: uppercase;
//     font-size: 20px;
//     letter-spacing: 4px;
//     -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
// }
// a::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
//     background-size: 400%;
//     opacity: 1;
//     transition: 0.5s;
//     animation: animate 20s linear infinite;
//     filter: blur(20px);
// }

// a::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
//     background-size: 400%;
//     opacity: 0;
//     filter: blur(20px);
//     transition: 0.5s;
//     animation: animate 20s linear infinite;
// }

// a:hover::before,
// a:hover::after {
//     opacity: 1;
// }

// @keyframes animate {

// 0% {
// background-position: 0 0;
// }
// 50% {
// background-position: 300% 0;
// }
// 100% {
//     background-position: 0 0;
// }
// }

// a span {
//     position: absolute;
//     display: inline;
//     top: 1px;
//     left: 1px;
//     right:1px;
//     bottom: 1px;
//     text-align: center;
//     background-color: #0c0c0c;
//     color: rgba(255, 255, 255, 0.2);
//     z-index: 1;
// }

// a:hover span {
//     color: rgba(255, 255, 255, 1);
// }

// a span::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
//     background-size: 400%;
//     opacity: 0;
//     transition: 0.5s;
//     filter: blur(20px);
// }
