// * {
//     border: 1px solid red !important;
// }
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  font-size: 15px;
  @media screen and (min-width: 300px) {
    font-size: 15.5px;
  }
  @media screen and (min-width: 345px) {
    font-size: 19.5px;
  }
  @media screen and (min-width: 500px) {
    font-size: 19px;
  }
  @media screen and (min-width: 550px) {
    font-size: 22.5px;
  }
  @media screen and (min-width: 600px) {
    font-size: 18px;
  }
  @media screen and (min-width: 760px) {
    font-size: 20px;
  }
  @media screen and (min-width: 815px) {
    font-size: 26px;
  }
  @media screen and (min-width: 900px) {
    font-size: 27px;
  }
  @media screen and (min-width: 1050px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1150px) {
    font-size: 30px;
  }
  @media screen and (min-width: 1281px) {
    font-size: 40px;
  }

  box-sizing: border-box;
  scroll-behavior: smooth;
}

.home-container {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: y proximity;    
}

.home-container .section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-blend-mode: multiply;
  background-attachment: fixed;
}

header {
  position: fixed;
  width: 98%;
  z-index: 100;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.brand-title img {
  width: 40%;
  margin-left: -50%;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  border-radius: 10px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #44ff00;
  padding: 1rem;
}
a.live {
  @media screen and (min-width: 600px) and (max-width: 710px) {
    margin-top: -8%;
  }
}
.navbar-links li a:hover {
  color: white;
}

.toggle-button {
  position: fixed;
  right: 1.3rem;
  top: 1.3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    top: 0.5rem;
    font-size: 1.2rem;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    font-size: 1.3rem;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.home-container .section:nth-child(1) {
  background: center no-repeat url(/assets/brickwall.svg);
  color: #44ff00;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  
}

.home-container .section:nth-child(2) {
  padding-top: 0.5em;
  background: #cfcfea center no-repeat
    url(/assets/black-clover-pub-live-band.jpg);
  color: #cfcfea;
  background-size: cover;
  background-attachment: fixed;
  
}

.home-container .section:nth-child(3) {
  background: #9792e3 center no-repeat
    url(/assets/black-clover-pub-bigbang-drummer.jpg);
  color: #00c3ff;
  background-size: cover;
  background-attachment: fixed;
  
}

.home-container .section:nth-child(4) {
  background: rgb(68, 255, 1) center no-repeat
    url(/assets/bar-full-of-liquor-bottles.jpg);
  color: yellow;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  
}

#clovers.home-content {
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  width: 17rem;
  top: 50%;
  left: 50%;
}

#clovers {
  display: none;
}

#contact {
    position: relative;
    display: flex;
    
}
#contact .contact-text {
    position: absolute;
    color: white;
    width: 50%;
    line-height: 0.8rem;
    font-size: 1rem;
    top: 25%;
    left: 5%;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.68);
    @media screen and (max-width: 700px) {
        width: 90%;
        top: 15%;
    }
}
.contact-text p {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0 1%;
}
img.three-d-clover  {
  position: absolute;
  display: flex;
  width: 15rem;
  top: 20%;
  right: 10%;
  border-radius: 50%;
  @media screen and (min-width: 300px) {
      top: 50%;
      
      width: 18rem;
      
  }
  @media screen and (min-width: 345px) {
      width: 16rem;
      top: 50%;
      
  }
  @media screen and (min-width: 450px) {
     width: 18rem;
      top: 50%;
      
    
  }
  @media screen and (min-width: 550px) {
     top: 40%;
     width: 18rem;
  }
  @media screen and (min-width: 700px) {
      top: 20%;
      right: -2%;
      width: 17rem;
  }
  @media screen and (min-width: 900px) {
      top: 25%;
      
      width: 14rem;
  }
}
.clover1,
.clover2,
.clover3,
.clover4 {
  position: absolute;
  z-index: 10;
  width: 5.5rem;
  top: 50%;
  left: 50%;
  font-size: clamp(0.5rem, 0.8rem, 1rem);
  line-height: clamp(0.5rem, 0.6rem, 8rem);
}

.clover1-text {
  position: absolute;
  z-index: 10;
  top: 27%;
  left: 12%;
}

.clover2-text {
  position: absolute;
  z-index: 10;
  top: 33%;
  left: 25%;
}

.clover3-text {
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 10%;
}

.clover4-text {
  position: absolute;
  z-index: 10;
  top: 34%;
  left: 7%;
}

span {
  color: white;
}

span.h2 {
  font-size: clamp(0.9rem, 1rem, 1.2rem);
  color: yellow;
}

span.h1 {
  font-size: clamp(1rem, 1.1rem, 1.2rem);
  color: yellow;
}

#live-music {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: transparent;
    position: relative;
}

ul.gallery-ul {
    list-style: none;
    margin-top: 83vh;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    @media screen and (min-width: 300px) and (max-width: 550px) {
      margin-top: 82vh;
    }
    



.tab {
    width: calc(3rem + 10px);
    height: calc(3rem + 10px);
    
    z-index: 0;
    transition: width 0.5s;
  
}

.tab img {
    width: 12vh;
    height: 12vh;
    z-index: 10;
    cursor: pointer;
    transition: width 0.5s;
    border: 3px solid white;
    @media screen and (min-width: 300px) and (max-width: 550px) {
      width: 10vh;
      height: 10vh;
    }
}

[type=radio] {
    display: none;   
}




[type=radio]:checked ~ label ~ .content{
    text-align: center;
    z-index: 8;
}

[type=radio]:checked ~ label .tab{
    width: 0;
    
    
}



.content {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.363);
    margin-left: auto;
    margin-right: auto;
    top: 12%;
    left: 0;
    right: 0;
    width: 70vw;
    height: 68vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 3px solid  white;
    @media screen and (min-width: 300px) and (max-width: 550px) {
      height: 55vh;
      top: 22%;
      width: 98vw;
    }
}

.content img {
    height: auto;
    width: 100vw;
    @media screen and (min-width: 300px) and (max-width: 450px) {
      width: 100vw;
      height: 46vh;
      
    }  
}
}
