html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@media screen and (min-width: 300px) {
  html,
  body {
    font-size: 15.5px;
  }
}

@media screen and (min-width: 345px) {
  html,
  body {
    font-size: 19.5px;
  }
}

@media screen and (min-width: 500px) {
  html,
  body {
    font-size: 19px;
  }
}

@media screen and (min-width: 550px) {
  html,
  body {
    font-size: 22.5px;
  }
}

@media screen and (min-width: 600px) {
  html,
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 760px) {
  html,
  body {
    font-size: 20px;
  }
}

@media screen and (min-width: 815px) {
  html,
  body {
    font-size: 26px;
  }
}

@media screen and (min-width: 900px) {
  html,
  body {
    font-size: 27px;
  }
}

@media screen and (min-width: 1050px) {
  html,
  body {
    font-size: 28px;
  }
}

@media screen and (min-width: 1150px) {
  html,
  body {
    font-size: 30px;
  }
}

@media screen and (min-width: 1281px) {
  html,
  body {
    font-size: 40px;
  }
}

.home-container {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

.home-container .section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-blend-mode: multiply;
  background-attachment: fixed;
}

header {
  position: fixed;
  width: 98%;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand-title img {
  width: 40%;
  margin-left: -50%;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  border-radius: 10px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #44ff00;
  padding: 1rem;
}

@media screen and (min-width: 600px) and (max-width: 710px) {
  a.live {
    margin-top: -8%;
  }
}

.navbar-links li a:hover {
  color: white;
}

.toggle-button {
  position: fixed;
  right: 1.3rem;
  top: 1.3rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 0.5rem;
    font-size: 1.2rem;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: black;
    font-size: 1.5rem;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.home-container .section:nth-child(1) {
  background: center no-repeat url(/assets/brickwall.svg);
  color: #44ff00;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.home-container .section:nth-child(2) {
  padding-top: 0.5em;
  background: #cfcfea center no-repeat url(/assets/black-clover-pub-live-band.jpg);
  color: #cfcfea;
  background-size: cover;
  background-attachment: fixed;
}

.home-container .section:nth-child(3) {
  background: #9792e3 center no-repeat url(/assets/black-clover-pub-bigbang-drummer.jpg);
  color: #00c3ff;
  background-size: cover;
  background-attachment: fixed;
}

.home-container .section:nth-child(4) {
  background: #44ff01 center no-repeat url(/assets/bar-full-of-liquor-bottles.jpg);
  color: yellow;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

#clovers.home-content {
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  width: 17rem;
  top: 50%;
  left: 50%;
}

#clovers {
  display: none;
}

#contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .contact-text {
  position: absolute;
  color: white;
  width: 50%;
  line-height: 0.8rem;
  font-size: 1rem;
  top: 25%;
  left: 5%;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.68);
}

@media screen and (max-width: 700px) {
  #contact .contact-text {
    width: 90%;
    top: 15%;
  }
}

.contact-text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1%;
}

img.three-d-clover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  top: 20%;
  right: 10%;
  border-radius: 50%;
  -webkit-filter: contrast(200%) brightness(160%) saturate(2);
          filter: contrast(200%) brightness(160%) saturate(2);
}

@media screen and (min-width: 300px) {
  img.three-d-clover {
    top: 50%;
    width: 18rem;
  }
}

@media screen and (min-width: 345px) {
  img.three-d-clover {
    width: 16rem;
    top: 50%;
  }
}

@media screen and (min-width: 450px) {
  img.three-d-clover {
    width: 18rem;
    top: 50%;
  }
}

@media screen and (min-width: 550px) {
  img.three-d-clover {
    top: 40%;
    right: 25%;
    width: 18rem;
  }
}

@media screen and (min-width: 700px) {
  img.three-d-clover {
    top: 20%;
    right: -2%;
    width: 17rem;
  }
}

@media screen and (min-width: 900px) {
  img.three-d-clover {
    top: 20%;
    right: 5%;
    width: 14rem;
  }
}

.clover1,
.clover2,
.clover3,
.clover4 {
  position: absolute;
  z-index: 10;
  width: 5.5rem;
  top: 50%;
  left: 50%;
  font-size: clamp(0.5rem, 0.8rem, 1rem);
  line-height: clamp(0.5rem, 0.6rem, 8rem);
}

.clover1-text {
  position: absolute;
  z-index: 10;
  top: 27%;
  left: 12%;
}

.clover2-text {
  position: absolute;
  z-index: 10;
  top: 33%;
  left: 25%;
}

.clover3-text {
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 10%;
}

.clover4-text {
  position: absolute;
  z-index: 10;
  top: 34%;
  left: 7%;
}

span {
  color: white;
}

span.h2 {
  font-size: clamp(0.9rem, 1rem, 1.2rem);
  color: yellow;
}

span.h1 {
  font-size: clamp(1rem, 1.1rem, 1.2rem);
  color: yellow;
}

#live-music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  position: relative;
}

ul.gallery-ul {
  list-style: none;
  margin-top: 83vh;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

@media screen and (min-width: 300px) and (max-width: 550px) {
  ul.gallery-ul {
    margin-top: 82vh;
  }
}

ul.gallery-ul .tab {
  width: calc(3rem + 10px);
  height: calc(3rem + 10px);
  z-index: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

ul.gallery-ul .tab img {
  width: 12vh;
  height: 12vh;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  border: 3px solid white;
}

@media screen and (min-width: 300px) and (max-width: 550px) {
  ul.gallery-ul .tab img {
    width: 10vh;
    height: 10vh;
  }
}

ul.gallery-ul [type=radio] {
  display: none;
}

ul.gallery-ul [type=radio]:checked ~ label ~ .content {
  text-align: center;
  z-index: 8;
}

ul.gallery-ul [type=radio]:checked ~ label .tab {
  width: 0;
}

ul.gallery-ul .content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.363);
  margin-left: auto;
  margin-right: auto;
  top: 12%;
  left: 0;
  right: 0;
  width: 70%;
  height: 68vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid  white;
}

@media screen and (min-width: 300px) and (max-width: 550px) {
  ul.gallery-ul .content {
    height: 56vh;
    top: 18%;
    width: 98%;
  }
}

ul.gallery-ul .content img {
  height: auto;
  width: 100vw;
}

@media screen and (min-width: 300px) and (max-width: 450px) {
  ul.gallery-ul .content img {
    width: 100vw;
    height: 46vh;
  }
}
